<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{common/allcdns :: headercdn}">
</head>

<body class="dark:bg-gray-900 dark:text-white">
    <div data-th-replace="~{common/navbar :: nav}"></div>
    <div class="">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat a, in magni sint magnam et. Maiores,
        blanditiis unde? Et pariatur doloribus qui asperiores minus sit adipisci. Dolorum illo ad perspiciatis?
    </div>
    <div data-th-include="~{common/allcdns :: footercdn}"></div>
</body>

</html>